/*
    darktable is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    darktable is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with darktable.  If not, see <http://www.gnu.org/licenses/>.
*/


@import url("./themes/darktable.css");

@define-color customdark_black #111111;
@define-color customdark_dark #333333;
@define-color customdark_light #718093;
@define-color customdark_white #dcdde1;
@define-color customdark_middle #006081;
@define-color customdark_green #00da12;

/*- General */
@define-color selected_bg_color @customdark_middle;
@define-color border_color @customdark_black;
@define-color bg_color @customdark_black;
@define-color fg_color @customdark_white;
@define-color text_color @customdark_white;
@define-color disabled_fg_color @customdark_dark;

/*- Scroll bars (sliders) */
@define-color scroll_bar_inactive @customdark_dark;
@define-color scroll_bar_active shade(@customdark_dark, 0.7);
@define-color scroll_bar_bg @customdark_black;

/* -Modules box (plugins) */
@define-color plugin_bg_color @customdark_black;
@define-color plugin_fg_color @customdark_white;
@define-color section_label @customdark_light;
@define-color plugin_label_color @customdark_white;

/* -Modules controls (sliders and comboboxes) */
@define-color bauhaus_bg @customdark_dark;
@define-color bauhaus_fg @customdark_white;
@define-color bauhaus_border @customdark_dark;
@define-color bauhaus_indicator_border @customdark_dark;
@define-color bauhaus_fill @customdark_middle;
@define-color bauhaus_bg_hover @customdark_dark;
@define-color bauhaus_fg_hover shade(@customdark_white, 1.4);

/*- GTK Buttons and tabs */
@define-color button_border @customdark_white;
@define-color button_bg @customdark_black;
@define-color button_fg @customdark_white;
@define-color button_checked_bg @customdark_middle;
@define-color button_checked_fg @customdark_white;
@define-color button_hover_bg @customdark_light;
@define-color button_hover_fg @customdark_white;

/*- text fields */
@define-color field_bg @customdark_dark;
@define-color field_fg @customdark_white;
@define-color field_active_fg @customdark_white;
@define-color field_selected_bg @customdark_light;
@define-color field_selected_fg @customdark_white;
@define-color field_hover_fg @customdark_white;

/*- Tooltips and contextual helpers */
@define-color tooltip_bg_color @customdark_dark;
@define-color menu_bg_color @customdark_dar;

/*- Views */
@define-color darkroom_bg_color @customdark_black;
@define-color darkroom_preview_bg_color @customdark_black;
@define-color lighttable_bg_color @customdark_black;
@define-color lighttable_preview_bg_color @customdark_black;
@define-color print_bg_color @customdark_black;

/*- Lighttable and film-strip */
@define-color thumbnail_font_color @customdark_white;
@define-color thumbnail_bg_color @customdark_black;
@define-color thumbnail_outline_color @customdark_black;
@define-color thumbnail_selected_font_color @customdark_white;
@define-color thumbnail_selected_bg_color @customdark_middle;
@define-color thumbnail_selected_outline_color @customdark_middle;
@define-color thumbnail_hover_font_color @customdark_light;
@define-color thumbnail_hover_bg_color @customdark_middle;
@define-color thumbnail_hover_outline_color @customdark_middle;

/* Graphs : histogram, navigation thumbnail and some items on tone curve */
@define-color graph_bg @customdark_black;
@define-color graph_border @customdark_black;
@define-color graph_fg @customdark_white;
@define-color graph_fg_active @customdark_white;
@define-color graph_grid @customdark_white;
@define-color inset_histogram alpha(@customdark_light, 0.50);



/* #################################################### */
/* #################################################### */
/* #################################################### */


notebook tabs,
#modules-tabs,
#blending-box,
#lib-plugin-ui,
#iop-plugin-ui {
  background-color: @customdark_black;
}


button,
button:disabled,
#module-preset-button,
#module-reset-button,
#module-instance-button,
#module-collapse-button,
#module-enable-button,
#blending-tabs,
#blending-tabs button,
#modules-tabs #dt-toggle-button {
  border: none;
  margin: 0;
  border: 0;
  border-radius: 0;
  color: @customdark_white;
  background-color: @customdark_black;
}

#module-enable-button:checked {
  color: @customdark_green;
}

#iop-plugin-ui {
  margin-left: 20px;
}

treeview,
filechooserwidget treeview,
dialog,
filechooserdialog {
  background-color: @customdark_black;
  color: @customdark_white;
}

treeview:hover,
filechooserwidget treeview:hover {
  background-color: @customdark_dark;
  color: @customdark_white;
}


*,
#lib-plugin-ui,
#iop-plugin-ui,
#iop-plugin-ui-main,
#lib-plugin-ui-main,
#iop-panel-label,
#lib-panel-label,
#lib-modulelist,
#bauhaus-popup,
#left,
#right,
#section_label,
#iop-panel-label,
#lib-panel-label,
#section_label,
#modules-tabs,
#modules-tabs *,
#blending-tabs,
#blending-tabs *,
#blending-box,
#blending-box *,
combobox,
combobox *,
togglebutton,
togglebutton *,
notebook,
notebook *,
notebook tab,
notebook tab *,
notebook tabs,
notebook tabs *,
table,
table *,
row,
row *,
frame,
frame *,
alignment,
entry,
entry *,
dialog,
dialog *,
colorswatch,
colorswatch *,
stack,
stack *,
scrollbar,
scrollbar *,
eventbox,
eventbox *,
scale,
scale *,
button,
button *,
treeview,
treeview *,
menu,
menu *,
separator,
eventbox,
eventbox *,
box,
box * {
  font-family: "Poppins medium", "Roboto",
    "Segoe UI Light", "Segoe UI",
    "SF Pro Display Light", "SF Pro Display",
    "Ubuntu Light", "Ubuntu",
    "Cantarell", sans-serif;
  font-size: 0.987em;
}